@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Karla:wght@400;800&display=swap');
body {
    margin: 0;
    border: 0;
    background-color: #1F2937;
    font-family: 'Inter';
    font-style: normal;
}

main {
    margin: 175px 25%;
}

h1 {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.025em;
    margin: 5px auto;
}

.top-1 {
    color: white;
}

.top-2 {
    color: #55F991;
}

.subtext {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
    margin: 5px auto;
}


/* section {
    display: flex;
    flex-direction: column;
} */

#generate {
    margin-top: 40px;
    background-color: #10B981;
    width: 233px;
    height: 42px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button {
    background-color: #273549;
    height: 30px;
    border-radius: 6px;
    border: none;
    margin-top: 15px;
    color: #10B981;
    margin-right: 30px;
}

#length {
    background-color: #1F2937;
    width: 233px;
    height: 42px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #2F3E53;
    border-radius: 6px;
    font-style: italic;
    margin-left: 40px;
}

input:focus {
    outline: none;
}

.seperator {
    margin-top: 30px;
    border-top: 1px solid #2F3E53;
}

.results {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.results span {
    margin: 5px;
    flex: 100%;
    background-color: #273549;
    color: #55F991;
    max-width: 210px;
    height: 30px;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    line-height: 200%;
}

footer {
    text-align: center;
    color: #55F991;
    position: absolute;
    width: 50%;
    margin: 0 25%;
    bottom: 12px;
}

footer a {
    color: #55F991;
    text-decoration: none;
}

@media screen and (max-width:730px) {
    main {
        margin: 100px 25%;
    }
    .results span {
        flex: 80%;
    }
}

@media screen and (max-width:1100px) {
    #length {
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width:1030px) {
    section {
        display: flex;
        flex-direction: column;
    }
}